<h1>Raffler</h1>

<div ng-controller="EntryController as entryCtrl">
  <form ng-submit="entryCtrl.addEntry(name)">
    <input type="text" ng-model="entryCtrl.entry.name">
    <input type="submit" value="Add">
  </form>
  {{entryCtrl.entry.name}}
  <ul>
    <li ng-repeat="entry in entryCtrl.entries">
      {{entry.name}}
    </li>
  </ul>
</div>
