<h1>Raffler</h1>

<div ng-controller="RaffleCtrl as raffle">
  <form ng-submit="raffleCtrl.addEntry(person)">
    <input type="text" ng-model="newEntry.name">
    <input type="submit" value="Add">
  </form>
  <ul>
    <li ng-repeat="entry in raffle.entries">
      {{entry.name}}
    </li>
      {{newEntry.name}}
  </ul>
</div>
